.login-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0 auto;
    min-width: 320px;
    align-items: center;
}

.login-container button {
    min-width: 320px;
}

.email-register {
    color: #828282;
}

.email-register a {
    color: #111111;
}