<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta charset="UTF-8">
<!--TODO: registration.css에서 공통 css 분리-->
        <link rel="stylesheet" href="css/registration.css">
    </head>
    <body>
        <div class="container">
            <div id="title" class="title">
                <img src="logo.png" alt="Register Icon" />
                <span>회원 가입</span>
            </div>
        </div>
    </body>
<!--TODO: js 등록-->
</html>